@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    .over{
        width: 450px;
        height: 800px;
        background-color: black;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 10px;
        align-items: center;
    
    }
    .content{
        margin-top: 30px;
        width: 350px;
        height: 600px;
        padding: 10px;
        background: rgb(0,36,27);
        background: linear-gradient(90deg, rgba(0,36,27,1) 0%, rgba(109,146,224,1) 35%, rgba(0,212,255,1) 100%);
        border-color:black ;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        align-items: center;
        justify-content: center
    }
    .social{
        width: 350px;
        height: 110px;
        margin-top: 75px;
        background: rgb(0,36,27);
        background: linear-gradient(90deg, rgba(0,36,27,1) 0%, rgba(109,146,224,1) 35%, rgba(0,212,255,1) 100%);;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
    }

    .content img{
        width: 70%;
    }
    
    .para{
        color: white;
    }

    .s1{
        margin-top: 10px ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: linear-gradient(225deg, #cacaca, #f0f0f0);
        box-shadow:  -12px 12px 24px #bebebe,
                     12px -12px 24px #ffffff;
    }
    
    
    
}
